@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');


#root{
 background-color: white;
}

.chatbot{
  position: fixed;
  right: 28%;
  top:40px;
  bottom:40px;
  width: 43%;
  background: white;
}

.chatbot header{
  margin-top: 0%;
  background-color: #3B76CD;
  color: black;
  padding: 14px;
  font-size: 30px;
  padding-left: 40px;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 1px 0 1px;
  font-weight: bold;
}

.chatbot textarea{
  background-color: #D9D9D9;
  border-radius: 30px;
  bottom: 5px;
  width: 700px;
  align-items: center;
  padding: 7px;
  border-style: none;
  left:20%;
}

.ai{
  display: flex;
  margin-right: 30%;

}

.ai img{
  max-width: 40%;
  object-fit: contain;
  padding-top: 0.8rem;
  
}

.ai p{
  color: black;
  padding-top:1rem;
  display: block;
  line-height: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 80%;
  text-shadow: 1px 0 1px;
  display: inline-block;
 
}

.chatbox{
  height: 350px;
  overflow-y: auto;
}

.chatbox .chat{
  display: flex;

}


.chatbox .chat p{
  padding: 6px 15px;
  white-space: pre-wrap;
  line-height: 1.5rem;
  align-content: right;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  word-wrap: break-word;
}

.error{
  color: #721c24;
  background-color: #f8d7da;
}

.incoming{
  justify-content: flex-start;
  text-align: left;

}

.incoming p{
  border: 1px solid black;
  white-space: pre-wrap;
  border-radius: 0 10px 10px 10px;
  max-width: 60%;
  margin-right: 8px;
  margin-top: 30px;
}

.chatbox .incoming img{
  text-align: end;
  margin-left: 15px;
  max-width:50px;
  height: 50px;
}

.outgoing {
  justify-content: flex-end;
  text-align: right;
  margin-right: 6%;
}

.chatbox .outgoing p{
  align-items:flex-end ;
  max-width: 60%;
  background-color: #3B76CD;
  color: white;
  border-radius: 10px 0 10px 10px ;
}

.chatbot .chat-input{
  position: absolute;
  display: flex;
  width: fit-content;
  bottom: 0.1rem;
  gap: 13px;
  padding:  15px;
  margin-left:10px;
}

.chat-input textarea{
  border: none;
  outline: none;
  width: 36rem;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  resize: none;
  padding: 15px 5px 1px 30px;
}

.chat-input ::placeholder{
  color: rgb(77, 77, 77);
 
}

.chat-input span{
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-left: 33.6rem;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  align-self: center;
  visibility: hidden;
  padding: 0.8rem;
  height: 55px;
  line-height: 55px;
}

.chat-input textarea:valid ~ span{
  visibility: visible;
}


.clear-chat{
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1.5rem;
}


/*Enabling dark mode*/
/* Dark mode styles */


.toggle-dark-mode {
  cursor: pointer;
  font-size: 1.3rem;
  margin-left: 60%;

}

.dark-mode.clear-chat{
  color: black;
  
}



body.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

body.dark-mode .chatbox {
  background-color: black;
}


.dark-mode.chat-input{
  color: #000000;
}

.dark-mode.chatbot {
 background-color: #000000;
 color: white;
}

.dark-mode.chatbot p {
  color: white;
}

.dark-mode.chatbot header{
  color: white;
}


.dark-mode .chatbox .chat.incoming p {
  border: 1px solid #ffffff;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .chatbot {
    right: 40%;
    width: 60%;
  }
  
  .chatbot header {
    font-size: 10px;
    padding-left: 20px;
  }
  
  .chat-input textarea {
    width:rem;
  }
}

@media (max-width: 992px) {
  .chatbot {
    right: 10%;
    width: 70%;
  }
  
  .chatbot header {
    font-size: 22px;
    padding-left: 10px;
  }
  
  .chat-input textarea {
    width: 38rem;
  }

  .chat-input span{
    margin-left: 36.5rem;
  }

  .toggle-dark-mode {
    cursor: pointer;
    font-size: 1.3rem;
    margin-left: 70%;
  
  }
  
}

@media (max-width: 768px) {
  .chatbot {
    right: 5%;
    width: 90%;
  }
  
  .chatbot header {
    font-size: 23px;
    padding-left: 30px;
  }
  
  .chat-input textarea {
    width: 38rem;
  }

  .chat-input span{
    margin-left: 36.5rem;
  }

  .toggle-dark-mode {
    cursor: pointer;
    font-size: 1.3rem;
    margin-left: 65%;
  
  }
}

@media (max-width: 576px) {
  .chatbot {
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;
  }
  
  .chatbot header {
    font-size: 18px;
    padding-left: 5px;
    text-align: center;
  }
  
  .chat-input {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .chat-input textarea {
    width: 31rem;
    margin-left: 0;
  }
  
  .chat-input span {
    margin-left: 62.5rem;
    width: 100%;
    height: 55px;
    margin-top: 5px;
  }
}

@media (max-width: 392px){
  .chatbot {
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;
  }
  
  .chatbot header {
    font-size: 18px;
    padding-left: 5px;
    text-align: center;
  }

  .chatbot p{
    font-size: 15px;
  }

  .chat-input textarea {
    width: 142%;
    margin-left: 0;
  }

  .chat-input span {
    margin-left: 40rem;
    width: 100%;
    height: 55px;
    margin-top: 5px;
  }

  .toggle-dark-mode {
    font-size: 1.3rem;
    margin-left: 50%;
  
  }

  
}