@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

#root{
 background-color: white;
}

.chatbot{
  position: fixed;
  right: 25%;
  top:40px;
  bottom:40px;
  width: 50%;
  background: white;
}

.chatbot header{
  margin-top: 0%;
  background-color: #3B76CD;
  color: black;
  padding: 14px;
  font-size: 25px;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 1px 0 2px;
}

.chatbot textarea{
  background-color: #D9D9D9;
  border-radius: 30px;
  bottom: 5px;
  width: 600px;
  align-items: center;
  padding: 7px;
  border-style: none;
  left:20%;
}

.ai{
  display: flex;
  gap: 20px;
}

.ai img{
  width: 40%;
}

.ai p{
  color: black;
  padding-top: 2.5rem;
  display: block;
  
}

